body {
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: grid;
    justify-content: space-between;
    min-width: 120px;
}

#progressInfo {
    text-align:center;
    overflow: auto;
    height: 3em;
    width: 100%;
    padding-top: 1em;
}

#loadingIndicator {
    width: 120px;
}
#spinner-container {
    height: 120px;
}
.xray-spinner {
    position: absolute;
}
.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.spin-rev {
    -webkit-animation:antispin 4s linear infinite;
    -moz-animation:antispin 4s linear infinite;
    animation:antispin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes antispin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes antispin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes antispin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }