body {
    width: 400px;
    margin: 10px;
    /*white-space: nowrap;*/
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: grid;
    justify-content: normal;
    width: 100%;
}

#progressInfo {
    text-align:center;
    overflow: auto;
    height: 3em;
    width: 100%;
    padding-top: 1em;
}

.sentiment {
    background-color: lighten(red, 20%);
    padding: 1em;
    border-radius: 1em;
}

#loadingIndicator {
    width: 100%;
}
#spinner-container {
    height: 120px;
}
.xray-spinner {
    position: relative;
}
.intro {
    border-bottom: 1px solid gray;
    padding-bottom: 1.5em;
    margin: 1em;
}
.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.spin-rev {
    margin-left: -120px;
    -webkit-animation:antispin 4s linear infinite;
    -moz-animation:antispin 4s linear infinite;
    animation:antispin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes antispin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes antispin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes antispin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }